body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1f2937;
  margin: 0;
}
/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  color: #F9FAF8;
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  margin-right: 40px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

/* Banner */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
  padding: 80px 100px;
  color: #F9FAF8;
  background-color: #1F2937;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-title {
  font-size: 48px;
  font-weight: 900;
}

.banner-text {
  color: #E5E7EB;
}

.banner-button button {
  width: 130px;
  height: 40px;
  color: #F9FAF8;
  background-color: #3882F6;
  border-style: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.banner-image {
  width: 500px;
}

/* Info */
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 40px;
}

.info-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.info-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 175px;
}

.item,
.item img {
  width: 175px;
}

.item-text {
  font-size: 24px;
  text-align: center;
  margin-top: 14px;
}


/* Quote */
.quote-container {
  background-color: #E5E7EB;
  padding: 100px 300px;
}

.quote-text{
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote-signature {
  text-align: right;
  font-size: 32px;
  font-weight: 700;
}